* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
}

body {
    color: ghostwhite;
}

/* =========== Navbar ============ */

nav {
    display: flex;
    padding: 20px 35px 20px 45px;
    font-size: large;
    font-family: 'Source Sans Pro', sans-serif;
    position: static;
}

nav .logo {
    font-size: x-large;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    flex-grow: 2;
    margin: 4px 20px;
    justify-content: center;
    gap: 40px;
}

nav ul li a {
    color: black;
}

nav ul li a:hover {
    text-decoration: underline 2px;
}

nav .hello {
    border: 1px solid black;
    padding: 5px;
    border-radius: 3px;
}

nav .mobileNav #menuIcon {
    display: none;
    width: 32px;
}

nav .closeMenuBtn {
    display: none;
    width: 60px;
    z-index: 2;
    position: absolute;
    top: 10px;
    left: 10px;
}

/* =========== Home ============ */

#home {
    display: flex;
    flex-direction: column;
    height: 88vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}

.text {
    font-size: 45px;
    margin-bottom: 6vh;
}

.hello2 {
    border: 2px solid black;
    padding: 12px 45px;
    border-radius: 3px;
    font-size: 20px;
    transition: color 0.3s ease;
    position: relative;
    overflow: hidden;
}

.hello2::before {
    content: '';
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: all 0.3s;
    z-index: -1;
}

.hello2:hover:before {
    transform: translateX(0);
}

.hello2:hover {
    color: ghostwhite;
}





/* =========== Socials bar ============ */

.socials {
    position: absolute;
    top: 25%;
    /* transform: translateY(-50%); */
    background-color: rgb(199, 200, 202);
    box-shadow: rgb(100 100 111 / 70%) 0 7px 29px 0;
    padding: 0.5rem;
}

.social {
    width: 3rem;
}

.social-icon-link {
    width: 100%;
    display: block;
    padding: 0.5rem;
    border-radius: 6px;
}

/* =========== Under Development page ============ */
#underdev {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-family: 'Source Sans Pro', sans-serif;
    border: 1px solid grey;
    
}

p{
    font-size: 3rem;
}

/* ============== Media Queries ============== */

@media screen and (max-width: 600px) {
    nav .navLinks {
        display: none;
        width: 70%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.88);
        position: fixed;
        top: 0;
        right: 0;
        margin: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 35px;
        z-index: 1;
    }
    nav .navLinks li a {
        color: white;
    }
    nav .mobileNav #menuIcon {
        display: inline;
    }
    nav .hello {
        display: none;
    }
    nav{
        display: flex;
        justify-content: space-between;
    }
  }